<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hy.customview"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="com.hy.customview.MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ValidViewActivity"
                  android:label="自定义View(一)---验证码">
        </activity>

        <activity android:name=".activity.WaveViewActivity"
            android:label="自定义View(二)---波浪View">
        </activity>

        <activity android:name=".activity.PopupViewActivity"
                  android:label="自定义View(三)---泡泡窗">
        </activity>

        <activity android:name=".activity.CirclePercentViewActivity"
                  android:label="自定义View(四)---圆形百分比进度条">
        </activity>

        <activity android:name=".activity.SimpleLineChartActivity"
                  android:label="自定义View(五)---简约折线图">
        </activity>



    </application>

</manifest>
